body {
    background-color: #a1dcf8; /* Change this to your desired background colour */
    margin: 0;
    padding: 0;
}


#navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    justify-content: flex-end;
    background-color: transparent; /* Ensure background is transparent */
}

.navbar-collapse {
    justify-content: flex-end;
}

.heading {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.nav-link {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

#Royhaven {
    padding-left: 1%;
}

.carousel-container {
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: 100vh;
    top: 0;
}

.overlay-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background: rgba(255, 255, 255, 0.6); /* Semi-transparent background */

}

.overlay-div h2 {
   color: rgb(56, 57, 58);
   font-size:xx-large;
   font-family: "Open Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: 500;
   font-style: normal;
   font-variation-settings:
    "wdth" 100;
}

.overlay-div p {
    color: rgb(56, 57, 58);
    font-size: 2.5em;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
 }

 .carousel-container {
    width: 100vw;
    height: 100vh;
 }

 .full-screen {
    background-color: #a7cbea; /* Light blue background */
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    margin: 10px;
}

.tiles-heading {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: white;
}

.custom-background {
    background-color: #addced; /* Change this to your desired colour */
    padding: 20px; /* Optional: Add some padding */
    border-radius: 10px; /* Optional: Add rounded corners */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.tile {
    opacity: 0;
    transition: opacity 0.6s, transform 0.6s;
}

.tile.visible {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {
    .navbar-brand, .navbar-nav {
        text-align: center;
    }

    .overlay-div h2 {
        font-size: 1.5rem;
    }

    .overlay-div p {
        font-size: 1rem;
    }
}