body {
    background-color: #a1dcf8; /* Change this to your desired background colour */
    margin: 0;
    padding: 0;
}


#navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    justify-content: flex-end;
    background-color: transparent; /* Ensure background is transparent */
}

.navbar-collapse {
    justify-content: flex-end;
    z-index: 1000;

}

.heading {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.photos-heading {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight:bolder;
    font-style: normal;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.nav-link {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

#Royhaven {
    padding-left: 1%;
}

.carousel-container {
    position: relative;
}

.carousel-item img {
    width: auto;
    height: 100vh;
    top: 0;
}

.overlay-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 500;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background: rgba(255, 255, 255, 0.6); /* Semi-transparent background */
    backdrop-filter: blur(2px);

}

.overlay-div h2 {
   color: rgb(56, 57, 58);
   font-size:xx-large;
   font-family: "Open Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: 500;
   font-style: normal;
   font-variation-settings:
    "wdth" 100;
}

.overlay-div p {
    color: rgb(56, 57, 58);
    font-size: 2.5em;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
 }

 .carousel-container {
    width: 100vw;
    height: 100vh;
 }

 .full-screen {
    background-color: #a7cbea; /* Light blue background */
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    margin: 10px;
}

.tiles-heading {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: white;
}

.custom-background {
    background-color: #addced; /* Change this to your desired colour */
    padding: 20px; /* Optional: Add some padding */
    border-radius: 10px; /* Optional: Add rounded corners */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.tile {
    opacity: 0;
    transition: opacity 0.6s, transform 0.6s;
    
}

.card-title {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.card-text {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.tile.visible {
    opacity: 1;
    transform: translateY(0);
}

#photo_gallery_images {
    width: 100vw;
    height: 100vh; /* You can adjust this percentage to your preference */
    margin: 0 auto; /* Centre the carousel */
}

/* Ensure the images are not stretched */
#photo_gallery_images .carousel-item img {
    width: auto;
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#photo_gallery_images .carousel-control-prev-icon, #photo_gallery_images .carousel-control-next-icon {
        background-color:black;
    }

.footer-icons-container {
    display: flex;
    justify-content: center;
}

.footer-icons {
    display: flex;
    justify-content: center; /* Default behaviour for larger screens */
    align-items: center;
    gap: 10%; /* Adjust gap between icons if needed */
}

.footer-icons img {
    width: 30px;
    height: 30px;
}

.availability-heading {
    color: rgb(56, 57, 58);
   font-size:xx-large;
   font-family: "Open Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: 500;
   font-style: normal;
   font-variation-settings:
    "wdth" 100;
}

.booking-container {
    width: 80vw;
    margin: 0 auto;
  }
  .booking-logo {
    width: 10vw;
  }
  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .booking-link {
    flex: 1;
    display: flex;
    justify-content: center;
  }

.highlights-icon {
    width: 100vw
}

.feature-icon {
    width: 80px;
    height: 80px;
}

.feature-container {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #dee2e6;
    border-radius: 50%;
    background-color: #f8f9fa;
    padding: 1rem;
    margin: 0.5rem;
    box-sizing: border-box;
    flex-shrink: 0; /* Prevent shrinking */
    flex-grow: 0; /* Prevent growing */
}

.feature-container h5 {
    font-size: 1rem;
    margin-top: 0.5rem;
    text-align: center;
}

#highlights-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.col-12 {
    display: flex;
    justify-content: center;
}

@media (max-width: 767.98px) {
    .feature-container {
        width: 200px;
        height: 200px;
    }

    .feature-icon {
        width: 80px;
        height: 80px;
    }

    .feature-container h5 {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {

    .carousel-item img {
        object-fit: cover; /* Ensures the images cover the area without distortion */
        object-position: center; /* Centres the image within the container */
        width: 100vw;
        height: 100vh;
    }

    .navbar-brand, .navbar-nav {
        text-align: center;
    }

    .overlay-div h2 {
        font-size: 1.5rem;
    }

    .overlay-div p {
        font-size: 1rem;
    }

    .footer-icons{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
}
